<!DOCTYPE html>
<html lang="en">

  <head>
    {{> header }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="/js/dates.js"></script>
  </head>

  <body>
    <div id="navbar-container">
      {{> navbar }}
    </div>

    <div id="main">
      <p class="header">Cyber Discovery Key Dates</p>
      <div id="event-container">
        {{#each dates}}
        <div class="event">
          <img src={{image}} />
          <p class="name">{{name}}</p>
          <p class="desc">{{description}}</p>
          <p class="countdown" data-countdown="{{timestamp}}">
            <span id="_1"></span><br>
            <span id="_2"></span>
          </p>
        </div>
        {{/each}}

      </div>
    </div>

    <div id="footer-container">
      {{> footer }}
    </div>
  </body>
</html>