<!DOCTYPE html>
<html lang="en">

  <head>
    {{> header }}
  </head>
  
  <body>
    <div id="navbar-container">
      {{> navbar }}
    </div>

    <div id="main">
      <p class="header">Welcome to the Companion Website for the <a href="https://github.com/CyberDiscovery/Cyber-Discovery-App" target="_blank">Unofficial Cyber Discovery App</a>!</p>
      <p class="center">Feel free to contribute on the <a href="https://github.com/CyberDiscovery/Cyber-Discovery-App-Website/" target="_blank">Github</a> page.</p>
    </div>

    <div id="footer-container">
      {{> footer }}
    </div>
  </body>
</html>