<div id="footer">
  <a href="https://joincyberdiscovery.com/" target="_blank">Cyber Discovery</a>
  <a href="https://github.com/CyberDiscovery/Cyber-Discovery-App-Website/" target="_blank">Github</a>
  <a href="https://discord.gg/Kf8n5rT" target="_blank">Discord</a>
</div>